.history-main-container{
	    margin: 0 auto;
	    width: 1137px;
		position: relative;
		background-color: #DDDDDD;
		display: flex;
}

div{
	display: block;
}
h1{
	font-size: 34px;
	text-align: center;
}
.main-content{
	padding: 29px 29px 0;
	float: left;
	position: relative;
}
.par-1{
	    font-size: 14px;
	    word-wrap: break-word;
	    color: #333;
	    margin-bottom: 15px;
	    text-indent: 2em;
	    line-height: 24px;
}
h5{
	
	font-size: 20px;
}
h4{
	text-align: center;
	font-size: 28px;
}
.right-pic{
	    margin-left: 20px;
	    float: right;
	    width: 220px;
		clear: right;
}
.right-pic img{
	display: block;
	margin: 0 auto;
	width: 100%;
	
}