.par{
	    font-size: 14px;
	    word-wrap: break-word;
	    color: #333;
	    margin-bottom: 15px;
	    text-indent: 2em;
	    line-height: 24px;
	    zoom: 1;
}
.para{
	    font-size: 12px;
	    text-indent: 0;
	    margin: 0;
	    height: auto;
	    word-break: break-all;
}
.first-title h2{
	text-align: center;
	font-size: 38px;
}
.par-pic b{
	text-align: center;
	font-size: 28px;
}
.par-pic img{
	width: 100%;
}
table{
	    display: table;
	    border-collapse: separate;
	    box-sizing: border-box;
	    text-indent: initial;
	    border-spacing: 2px;
	    border-color: gray;
		border: 1px;
		align-content: center;
		margin: auto;
}
tbody{
	vertical-align: middle;
}
body{
	text-align: center;
}