.contact-us{
	    padding: 3em 0px;
}
.main-contact-container{
	width: 1170px; 
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
html,body{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background: #fff;
	padding: 0;
	margin: 0;
}
div{
	display: block;
}
html{
	-webkit-text-size-adjust: 100%;
}
.contact-us-top h3{
	    font-size: 2.3em;
	    color: #1793d1;
	    font-weight: 700;
	    margin: 0px;
	    text-align: center;
}
input{
	    -webkit-writing-mode: horizontal-tb !important;
	    text-rendering: auto;
	    color: -internal-light-dark(black, white);
	    letter-spacing: normal;
	    word-spacing: normal;
	    text-transform: none;
	    text-indent: 0px;
	    text-shadow: none;
	    display: inline-block;
	    text-align: start;
	    appearance: auto;
	    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
	    -webkit-rtl-ordering: logical;
	    cursor: text;
	    margin: 0em;
	    font: 400 13.3333px Arial;
	    padding: 1px 2px;
	    border-width: 2px;
	    border-style: inset;
	    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
	    border-image: initial;
}
.contact-content input[type="text"]{
	    width: 100%;
	    color: #898888;
	    outline: none;
	    font-family: 'Lato', sans-serif;
	    font-size: 16px;
	    padding: 10px 10px;
	    margin-bottom: 1em;
	    border: solid 1px #D5D4D4;
	    -webkit-appearance: none;
}
.contact-us-bottom h4{
	    font-size: 2em;
	    color: #1793d1;
	    font-weight: 700;
	    margin-bottom: 1.2em;
}
textarea{
	overflow: auto;
	margin: 0;
	font: inherit;
	    -webkit-writing-mode: horizontal-tb !important;
	    text-rendering: auto;
	    color: -internal-light-dark(black, white);
	    letter-spacing: normal;
	    word-spacing: normal;
	    text-transform: none;
	    text-indent: 0px;
	    text-shadow: none;
	    display: inline-block;
	    text-align: start;
	    appearance: auto;
	    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
	    -webkit-rtl-ordering: logical;
	    flex-direction: column;
	    resize: auto;
	    cursor: text;
	    white-space: pre-wrap;
	    overflow-wrap: break-word;
	    column-count: initial !important;
	    margin: 0em;
	    font: 400 13.3333px Arial;
	    border-width: 1px;
	    border-style: solid;
	    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
	    border-image: initial;
	    padding: 2px;
		min-height: 140px;
}
.contact-textarea textarea{
	    resize: none;
	    width: 100%;
	    color: #898888;
	    font-size: 16px;
	    font-family: 'Lato', sans-serif;
	    outline: none;
	    padding: 10px 10px;
	    border: solid 1px #D5D4D4;
	    min-height: 150px;
	    -webkit-appearance: none;
}
.contact-btn input[type="submit"]{
	    border: none;
	    outline: none;
	    color: #fff;
	    background: #494848;
	    padding: 10px 20px;
	    font-family: 'Lato', sans-serif;
	    font-size: 18px;
	    font-weight: 600;
	    margin-top: 1.5em;
	    -webkit-appearance: none;
}
input[type="submit"]{
	    appearance: auto;
	    user-select: none;
	    white-space: pre;
	    align-items: flex-start;
	    text-align: center;
	    cursor: default;
	    color: -internal-light-dark(black, white);
	    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
	    box-sizing: border-box;
	    padding: 1px 6px;
	    border-width: 2px;
	    border-style: outset;
	    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
	    border-image: initial;
}
.contact-btn button[type="reset"]{
	    border: none;
	    outline: none;
	    color: #fff;
	    background: #494848;
	    padding: 10px 20px;
	    font-family: 'Lato', sans-serif;
	    font-size: 18px;
	    font-weight: 600;
	    margin-top: 1.5em;
	    -webkit-appearance: none;
}
button[type="reset"]{
	    appearance: auto;
	    user-select: none;
	    white-space: pre;
	    align-items: flex-start;
	    text-align: center;
	    cursor: default;
	    color: -internal-light-dark(black, white);
	    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
	    box-sizing: border-box;
	    padding: 1px 6px;
	    border-width: 2px;
	    border-style: outset;
	    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
	    border-image: initial;
}